
<div class="container-fluid">
  <div class="row">
    <% @study_records.each do |study_record| %>
      <div class="card text-center" style="max-width: 40rem;">
        <div class="card-body">
          <%= link_to image_tag(study_record.user.get_profile_image(300,300), class: "media-object", style: "width:60px"), study_record_path(study_record.user.id) %>
          <div class="media-body" style="padding-top: 10px;">
              <h4 class="media-heading">
                <% if current_user==study_record.user %>
                  <%= link_to study_record.title, user_path(study_record.user.id)%>
                <%else%>
                  study_record.title
                <% end %>
              </h4>
            <p><%= study_record.body %></p>
            <p><small>
              <%if study_record.num_of_session==1%>
                <%= study_record.num_of_session.to_i %> minute
              <%else%>
                <%= study_record.num_of_session.to_i %> minutes
              <%end%>
            </small></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

