   <div class="container">
     <div class="row mx-auto" style="margin-top:100px;">
       <div class="col-md-8 offset-md-4">
          <div class="card card-block w-50">
             <h2><p id="pomodoro">Pomodoro Timer</p></h2>
              <p id="timer">1:00</p>
              <button type="button" id="startButton" class="btn btn-primary" onclick="startTimer()">Start</button>
              <button type="button" class="btn btn-danger" onclick="stopTimer()" data-toggle="modal" data-target="#selectModal">Stop</button>
              <p id="studySessions">Study Sessions: 0</p>
          </div>
        
       </div>
        
      </div>
      
      <div class="row">
        
      </div>
      <div class="row">
        
      </div>
      <div class="row">
        
      </div>
        
        
    
    
  </div>
  
  <!-- Modal -->
  <div id="selectModal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

        <h4 class="modal-title">Save study record?</h4>
        </div>
        <div class="modal-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Save</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Do not save</button>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

        <h4 class="modal-title">Study Session</h4>
        </div>
        <div class="modal-body">
        <% if true %>
          <%= form_with model: StudyRecord.new, method: :post do |f| %>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class: 'form-control', value: Date.today %>
            </div>
            <div class="form-group">
              <%= f.label :comment %>
              <%= f.text_area :body, class: 'form-control', rows: 5, :placeholder => 'Finished reading 5 pages!'%>
            </div>
            <div class="form-group">
            <%= f.label :number_of_session %>
            <%= f.number_field :num_of_session, id: "study_sessions_field", class: 'form-control', min: 0%>
          </div>
           
            <%= audio_tag("ping-contact-cinematic.mp3",id:"audio") %>
            <%=f.submit "I got it!" ,class:"btn btn-primary"%>
          <% end %>
        <% else %>
          <p>No study record found.</p>
        <% end %>
        </div>
      </div>
    </div>
  </div>

 <script>
    
    var interval;
    var minutes = 1;
    var seconds = 0;
    var breakTime = false;
    var studySessions = 0;
    function dissmissModal(){
      myModal.hide()
    }
    function startTimer() {
      document.getElementById('startButton').disabled = true;
      clearInterval(interval);
      interval = setInterval(function() {
        if (seconds == 0) {
          if (minutes == 0) {
            clearInterval(interval);
            if (breakTime) {
              document.querySelector("#audio").play();
              document.getElementById("pomodoro").innerText = "Break's over, back to work!"
              breakTime = false;
              minutes = 1;
            } else {
              document.querySelector("#audio").play();
              document.getElementById("pomodoro").innerText = "Time's up! Take a 5-minute break."
              breakTime = true;
              minutes = 5;
              
              startTimer();
              studySessions++;
          document.getElementById('studySessions').innerText = "Study Sessions: " + studySessions;
            }
            seconds = 0;
          } else {
            minutes--;
            seconds = 59;
          }
        } else {
          seconds--;
        }
        document.getElementById('timer').innerText = minutes + ":" + (seconds < 10 ? "0" + seconds : seconds);
      }, 1000);

    }

    function stopTimer() {
      document.getElementById('startButton').disabled = false;
      clearInterval(interval);
      minutes = 1;
      seconds = 0;
      breakTime = false;
      document.getElementById('timer').innerText = "1:00";
    }
 
  </script>